
.header
    .container
        include macros/logo

        .header__wrap
            .header__wrap-row.block_skew

            include macros/nav

            a(href="javascript:void(0);", class="btn-mobile", title="burger button")
                span.btn-mobile__line

            include macros/slogan


            .maps-arrow
                i.maps-arrow__icon
                if(!EN)
                    p.maps-arrow__title!= "Киев"
                else
                    p.maps-arrow__title!= "Kyiv"
                p.maps-arrow__data
                    span.maps-arrow__num!= 11
                    if(!EN)
                        span.maps-arrow__month!= " марта"
                    else
                        span.maps-arrow__month!= " march"


            a(href="javascript:void(0);", class="btn btn-header", title="start")
                div.btn_orange.btn_small.block_skew
                if(!EN)
                    p.btn__text!= "СТАРТ"
                else
                    p.btn__text!= "START"


    include macros/bottomInfo