
.new
    .container
        .new__row
            .new__main-block
                img(src="./img/img-new-triangle.png", class="wrap__img-bg")
                .wrap.clearfix
                    .wrap-img
                        i.icon__img-animation1-0
                        i.icon__img-animation1-1.icon__img-hover
                    .wrap-text
                        p.new-name!= "НОВЫЕ ЗНАНИЯ"
                        p.new-work!= "Расширьте свои горизонты и получите новые знания. Последние тренды, доклады по использование лучших инструментов, инсайты от экспертов, уникальные знания из первых рук – все это 11 марта, на Kyiv Data Spring."
                i.icon-new-0
                i.icon-new-1

            .new__main-block.even
                img(src="./img/img-new-triangle.png", class="wrap__img-bg")
                .wrap.clearfix
                    .wrap-img
                        i.icon__img-animation2-0
                        i.icon__img-animation2-1.icon__img-hover
                    .wrap-text
                        p.new-name!= "КЕЙСЫ"
                        p.new-work!= "На конференции вы услышите реальные кейсы и примеры внедрения технологий на основе данных. Эксперты, которые уже имплементировали инновации в свой бизнес, расскажут, как эффективно использовать большие данные и извлекать из них пользу."
                i.icon-new-0
                i.icon-new-1

            .new__main-block
                img(src="./img/img-new-triangle.png", class="wrap__img-bg")
                .wrap.clearfix
                    .wrap-img
                        i.icon__img-animation3-0
                        i.icon__img-animation3-1.icon__img-hover
                    .wrap-text
                        p.new-name!= "НЕЙТВОРКИНГ"
                        p.new-work!= "Kyiv Data Spring – это место, где вы сможете познакомиться с лучшими специалистами в области больших данных и машинного обучения, встретите единомышленников и найдете партнеров."
                i.icon-new-0
                i.icon-new-1

