
.new
    .container
        .new__row
            .new__main-block
                img(src="./img/img-new-triangle.png", class="wrap__img-bg")
                .wrap.clearfix
                    .wrap-img
                        i.icon__img-animation1-0
                        i.icon__img-animation1-1.icon__img-hover
                    .wrap-text
                        p.new-name!= "НОВЫЕ ЗНАНИЯ"
                        p.new-work!= "Менеджеры, разработчики, маркетологи, владельцы бизнесов, инвесторы и ученые – фестиваль объединит более 400 людей, которые хотят быть на острие инноваций и стремятся раскрыть потенциал технологий больших данных."
                i.icon-new-0
                i.icon-new-1

            .new__main-block.even
                img(src="./img/img-new-triangle.png", class="wrap__img-bg")
                .wrap.clearfix
                    .wrap-img
                        i.icon__img-animation2-0
                        i.icon__img-animation2-1.icon__img-hover
                    .wrap-text
                        p.new-name!= "КЕЙСЫ"
                        p.new-work!= "Менеджеры, разработчики, маркетологи, владельцы бизнесов, инвесторы и ученые – фестиваль объединит более 400 людей, которые хотят быть на острие инноваций и стремятся раскрыть потенциал технологий больших данных."
                i.icon-new-0
                i.icon-new-1

            .new__main-block
                img(src="./img/img-new-triangle.png", class="wrap__img-bg")
                .wrap.clearfix
                    .wrap-img
                        i.icon__img-animation3-0
                        i.icon__img-animation3-1.icon__img-hover
                    .wrap-text
                        p.new-name!= "НЕЙТВОРКИНГ"
                        p.new-work!= "Менеджеры, разработчики, маркетологи, владельцы бизнесов, инвесторы и ученые – фестиваль объединит более 400 людей, которые хотят быть на острие инноваций и стремятся раскрыть потенциал технологий больших данных."
                i.icon-new-0
                i.icon-new-1

