mixin programDescr(programTime, textDescription)
    .program__desc.clearfix
        p.program__desc-time!= programTime
        .program__desc-text
            p.program__desc-name!= "Руслан Савчишин, MagneticOne Group"
            p.program__desc-what!= textDescription



#program.program

    .program__line

    .container.clearfix

        .program__left
            .program__block
                p.program__title!= "BUSINESS STAGE"
                p.program__text!= "Поток для менеджеров, владельцев бизнеса и маркетологов, где делятся идеями и кейсами, как применять большие данные и машинное обучение в бизнесе."
                i.icon-triangle-0
                i.icon-triangle-1

                span.program__block-line

            +programDescr("9-00", "Как начать работать с данными? Первые шаги и инструменты")
            +programDescr("10-00", "Как машинное обучение меняет маркетинг и продажи")
            +programDescr("11-00", "Chief Data Officer – кто это?")
            +programDescr("12-19", "И еще более 5 уникальных докладов")


        .program__right
            .program__block
                p.program__title!= "IT STAGE"
                p.program__text!= "Поток для разработчиков и ученых, которые создают новые технологии."
                i.icon-triangle-0
                i.icon-triangle-1

                span.program__block-line

            +programDescr("9-00", "Старт-апы в области data.Какие перспективы?")
            +programDescr("10-00", "Как разработчику стать data scientist?")
            +programDescr("11-00", "Искусственный интеллект – насколько мы близки к нему?")
            +programDescr("12-19", "И еще более 5 уникальных докладов")