-
    var programText1Ru = "Поток для менеджеров, владельцев бизнеса и маркетологов, где делятся идеями и кейсами, как применять большие данные и машинное обучение в бизнесе.",
        programText1En = "Platform for managers, business owners, and marketers who share ideas and cases of implementing big data and machine learning in business.",
        programText2Ru = "Поток для разработчиков и ученых, которые создают новые технологии.",
        programText2En = "Platform for developers and scientists who create new technologies.";

    var programmDescLeft1_ru = "Как начать работать с данными? Первые шаги и инструменты",
        programmDescLeft2_ru = "Как машинное обучение меняет маркетинг и продажи",
        programmDescLeft3_ru = "Chief Data Officer – кто это?",
        programmDescLeft4_ru = "И еще более 5 уникальных докладов",
        programmDescLeft1_en = "How to begin working with data? First steps and instruments",
        programmDescLeft2_en = "How machine learning impacts marketing and sales",
        programmDescLeft3_en = "Chief Data Officers: who they are and what they do",
        programmDescLeft4_en = "And more than 5 unique presentations",
        programmDescRight1_ru = "Старт-апы в области data.Какие перспективы?",
        programmDescRight2_ru = "Как разработчику стать data scientist?",
        programmDescRight3_ru = "Искусственный интеллект – насколько мы близки к нему?",
        programmDescRight4_ru = "И еще более 5 уникальных докладов",
        programmDescRight1_en = "Data startups and their prospects",
        programmDescRight2_en = "How a developer becomes a data scientist",
        programmDescRight3_en = "Artificial intelligence: how close we are to the thing",
        programmDescRight4_en = "And more than 5 unique presentations";


mixin programDescr(programTime, textDescription)
    .program__desc.clearfix
        p.program__desc-time!= programTime
        .program__desc-text
            p.program__desc-name!= "Руслан Савчишин, MagneticOne Group"
            p.program__desc-what!= textDescription



#program.program

    .program__line

    .container.clearfix

        .program__left
            .program__block
                p.program__title!= "BUSINESS STAGE"
                p.program__text!= !EN ? programText1Ru : programText1En
                i.icon-triangle-0
                i.icon-triangle-1

                span.program__block-line

            if(!EN)
                +programDescr("9-00",  programmDescLeft1_ru)
                +programDescr("10-00", programmDescLeft2_ru)
                +programDescr("11-00", programmDescLeft3_ru)
                +programDescr("12-19", programmDescLeft4_ru)
            else
                +programDescr("9-00",  programmDescLeft1_en)
                +programDescr("10-00", programmDescLeft2_en)
                +programDescr("11-00", programmDescLeft3_en)
                +programDescr("12-19", programmDescLeft4_en)



        .program__right
            .program__block
                p.program__title!= "IT STAGE"
                p.program__text!= !EN ? programText2Ru : programText2En
                i.icon-triangle-0
                i.icon-triangle-1

                span.program__block-line

            if(!EN)
                +programDescr("9-00",  programmDescRight1_ru)
                +programDescr("10-00", programmDescRight2_ru)
                +programDescr("11-00", programmDescRight3_ru)
                +programDescr("12-19", programmDescRight4_ru)
            else
                +programDescr("9-00",  programmDescRight1_en)
                +programDescr("10-00", programmDescRight2_en)
                +programDescr("11-00", programmDescRight3_en)
                +programDescr("12-19", programmDescRight4_en)